<!DOCTYPE html>
<html>
  <head>
    <title>Submo</title>
    <link rel='stylesheet' href='style.css' />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="html2canvas.js"></script>
  </head>
  <body>
    <!--<h1><%= title %></h1>-->
    <canvas id="test" width="960" height="640"></canvas>
    <!-- <p>Welcome to <%= title %></p> -->
<!--     <button id="capture" name="capture" /> -->
    <div class="container"></div>
    <script type="text/javascript" src="script.js"></script>
    <div class="result"></div>
  </body>
</html>